<% @search_results.each do |user| %>
  <div class="card card-header results-block">
    <strong>Email: </strong> <%= user.email %>
    <strong>Name: </strong> <%= user.full_name %>

    <% if current_user.can_follow_friend?(user.id) %>
      <%= link_to 'follow', friendships_path(user: current_user, friend: user),
                                      class: "btn btn-xs btn-success", method: :post %>
    <% else %>
      <%= link_to 'Unfollow', friendship_path(user), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-sm btn-warning' %>    
    <% end %>  
                                       
  </div>                                
<% end %>